.container-star {
    display: flex;
    flex-direction: row;
    .progress-star {
        width: 200px;
        height: 0.6rem;
        vertical-align: middle;
        margin-top: 1.5%;
        margin-left: 2%;
    }
}

.container-star .MuiBox-root {
    margin-bottom: 2px;
    .MuiRating-root {
        font-size: 1rem;
    }
}

.progress-star-count {
    color: grey;
    font-size: 11px;
    margin-left: 2px;
}