.comment-header {
    display: flex;
    flex-direction: row;
    p {
        // margin-bottom: 1px;
    }
}

.comment-date-created {
    margin-left: 500px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.comment-username {
    margin-left: 5px;
    margin-top: 5px;
    color: rgb(82, 82, 82);
    font-size: 16px;
    //font-weight: bold;
}