.comment-username {
    margin-left: 5px;
    color: #ad9e5c;
    font-size: 14px;
    font-weight: bold;
}

.comment-date-created {
    margin-left: 70%;
    color: #000;
    font-size: 11px;
    font-weight: bold;
}

.comment-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    fieldset {
        margin-bottom: 5px;
    }
    p {
        margin-bottom: 5px;
    }
}

.comment-template {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid #ececec;
    .MuiRating-root {
        font-size: 16px;
        margin-left: 5px;
    }
}

.comment-body {
    display: flex;
    width: 100%;
    p {
        font-size: 13px;
        margin-left: 30px;
        margin-bottom: 5px;
    }
}
