.container-detail {
    display: flex;
    flex-direction: row;
    padding: 4%;
}

// .container-detail :first-child {
//    width: 100%;
// }

.img-gal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    // width: 25%;
    img {
        width: 20%;
        border: 1px solid grey;
   }
}

.card-img {
    border: 1px solid grey;
   // display: flex;

}