.card-text{
    font-size:12px;
}

.product-card {
    width: 13rem;
}

.container-card {
    display: flex;
    flex-direction: column;
}

.container-star {
    display: flex;
    // justify-content: space-evenly;
    flex-direction: row;
    // display: flex;
    // justify-content: flex-end;
}